@charset "UTF-8";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
 
/*Header*/

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* Slider */

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 100%;
   display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

.radio1:checked ~ .first{
    margin-left: -25%;
}
.radio2:checked ~ .first{
    margin-left: -50%;
}
.radio3:checked ~ .first{
    margin-left: -50%;
}

/* Fim do Slider */




.navbar{

    background-color: #000000d5;
    padding: 1rem;
    position: sticky;
    top: 0%;
    box-shadow: 10px 4px 10px #2c2c2c;
    z-index: 99;
    position: relative;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#008cff;
}

.logo span{
    color: white;
}

spann{
    color: #ffc400;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.input-group{
    display: flex;
    align-items: center;
    padding: 4px 23px 4px 6px;
    border-radius: 23px;
    margin-right: 10%;
    gap: 13px;
    background-color: #ffffff;

}

/* Slider */

@media(min-width:200px){
    .slider{
    margin: 0 auto;
    width: 2000px;
    height: 350px;
    overflow: hidden;
    
} 

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 312px;
    display: flex;
    justify-content: center;
   
}

.slide img{
    width: 800px;
    transform: translateY(-49%);
    
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -200%;
}

#radio3:checked ~ .first{
    margin-left: -320%;
}



}


/* Média para tela de celular */
@media(max-width:800px){
    .slider{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    overflow: hidden;
    
} 

/* Esse navigation-auto e a config do circulo */
.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -230px;
    display: flex;
    justify-content: center;
    
}

/* Esse navigation-auto e para a config da cor dentro do circulo  */
.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 172px;
    display: flex;
    justify-content: center;
   
}

.slide img{
    width: 401px;
    transform: translateY(-44%);
    
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -105%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

}

.slides{
    width: 400px;
    height:400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 200%;
    position: relative;
    transition: 3s;
}


.manual-btn{
    border: 2px solid rgb(25, 0, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(38, 0, 255);
}



.navigation-auto div{
    border-radius: 2px solid rgb(0, 110, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 3s;
}


.navigation-auto div:not(:last-child){
    margin-right: 44px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgba(0, 26, 255, 0.699);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgba(0, 26, 255, 0.699);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgba(0, 26, 255, 0.699);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgba(0, 26, 255, 0.699);
}

/* Slider end */

/* No use config of search
.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-height: 32px;
    min-width: 32px;
    color: #000000;
    
}

.input-field{
    border: none;
    width: 7.3rem;
    background-color: transparent;
    padding: 5%;
    border-radius: 23px;
}
*/
.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: rgb(255, 255, 255);
    margin-right: 1.5rem;
    padding: 0.8rem;
    cursor: pointer;
}

nav ul li:hover{
    transform:translateY(-5px) ;
    transition:all 0.4s ;
    font-weight: bold;
    color: #058eff;
}


nav ul li:visited{
    color: red;
}

.menu-button{
    display: none;
}

header{
    background-color: #69696931;
}

.header-button-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-button-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-button-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
    max-width: 1080px;
    min-width: -900px;
   
}

.header-button-side-left p{
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
}

.header-button-side-left button{
    background-color: #0066ffe0;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition:all 0.2s ;
}

.header-button-side-left button:hover{
    background-color: #0066ff;
}

.header-button-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eader-button-side-right img{
  width: 115%;
}

spa{
    margin-bottom: 50px;
}

/*Media Queries*/
@media(max-width:800px){
    .logo{
        font-size: 1.2rem;
    }


    .menu-button{
        display: block;
    }


    .header-button-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #000000d5;
        width: 96%;
        top: 69px;
        display: none;
    }

    .show-menu nav{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        align-items: center;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
    }

}

a{
    text-decoration: none;
}

.product a:visited{
    color: rgb(0, 18, 77);
}

/*Header*/

/*Main*/
.gray-background{

  
    box-shadow: 10px 4px 10px #2c2c2c;
    background-color: #2c2c2c;

}

.page-inner-content{
    /*Para ficar ao centro*/
    max-width: 1280px;
    margin: 0 auto;

}


.cols{
    display: grid;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}

.cols-4 img{
    max-width: 103%;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translatey(-10px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}

.section-title-2{
    text-align: center;
    margin-top: 0.1rem;
    font-size: 1.8rem;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background-color: #0066ff;
    margin: auto;
    margin-top: 3%;
    margin-bottom: -1%;
    border-radius: 9999px;
}

.product{
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.6rem;
}

.rate{
    font-size: 1.3rem;
}

.product-price span{
    font-weight: 600;
}

.exclusive-container{
    color: #ffffff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
}

/* Media queries */

@media(max-width:800px){
    .section-title{
        font-size: 1.5rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-name, .product-price, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .exclusive-container{
        flex-direction: column-reverse;
    }

    .exclusive-container img{
        padding: -11rem -11rem;
    }

}
.gray-background-D{
    background-color: #000000d0;
    box-shadow: 10px 4px 10px #2c2c2c;
    background-color: #2c2c2c;
}
/* Main content */

/* Avaliação */
.avaliações{
    display: flex;
    padding: 4rem;
    justify-content: space-evenly;
}

.avaliação{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
    box-shadow: 0 0 15px rgb(116, 116, 116);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.avaliação:hover{
    transform: translatey(-5px);
}

.avaliação{
    margin: 5px 0;
}

.avaliação p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #0066ff;
    margin-top: 3rem;
    line-height: 2rem;
}

.avaliação p:last-child{
    font-weight: bold;

}

.rat{
    font-size: 23px;
    color: #0066ff;
}

/* Media queries*/

@media (max-width: 800px){
    .avaliações{
        flex-direction: column;
    }

    .avaliação{
        margin-bottom: 1.2rem;
    }
}

.label{
    margin-right: 1%;
    padding-left: 5%;
    display: grid;
}

.input{
    max-width: 120rem;
    width: 10.9rem;
    padding: 6%;
    border-radius: 10px 10px 10px;
}

/* Avaliação */

/* Footer */

.footer-content{
    display: flex;
    align-items: center;
    color: #c4c4c4;
    padding: 4rem 1rem;
    gap: 2rem;
}

.logo-footer{
    text-align:center;
    align-items: center;
}

.logo-footer p{
    font-size: 15px;
}

.links-footer h3{
    color: white;
    margin-bottom: 0.8rem;
}

.links ul{
    list-style: none;
}

.links ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.links h3{
    color: #ffffff;
}

/* prodoct W99*/

.bw99{
    background-color: #8d8d8d;
}



/* prodoct W99*/

/* Footer */

/*Config do menu seta*/

.dropdown-menu {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    transition: max-height 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-menu.show {
    display: block;
    max-height: 800px;
}

.dropdown-menu a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-toggle-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

.dropdown-toggle {
   
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.dropdown-toggle.active {
    transform: translate(-50%, -50%) rotate(90deg);
}

.dropdown-rect {
    width: 60px; /* Increased width to resemble a search bar */
    height: 22px; /* Adjusted height */
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    cursor: pointer;
    display: flex; /* Use flexbox to center the icon */
    align-items: center;
    justify-content: center; /* Center horizontally */
}

.dropdown-menu {
    text-align: center;
    top: 40px; /* Adjusted to be directly below the rectangle */
    left: 0;
    transform: translateX(0);
    padding: 20px;
}

.scroll-box {
width: 200px;
height: 150px;
overflow-y: auto; /* Adiciona barra de rolagem vertical */
padding: 10px;
}

@media(min-width:200px){
.dropdown-menu {                          
text-align:center;                          
top: 50px;                          
left: 36%;                          
transform: translateX(-50%);                          
padding: 10px;               
}

.dropdown-toggle-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

}


@media(max-width:1200px){
.dropdown-menu {                          
text-align:center;                          
top: 50px;                          
left: 29.9%;                          
transform: translateX(-46%);                          
padding: 10px;            
}

.dropdown-toggle-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 16px;
    justify-content: space-between;
}
}

/*Config do menu seta*/


